{% extends "pages/layout.html" %}
{% load static %}

{% block body %}
<section class="backscreen">
    {% if invalid %}
    <div>
        <h2 class="error"> Don't get heated... that sauce isn't in our database</h2>
    </div>
        {% else %}
        {% if not user.is_authenticated %}
    <div id="message">
        <p>Spice things up, Create an Account</p>
    </div>
    {% endif %}
        <section id="data">
            <header>
                <h1>Spiciest</h1>
            </header>
            <hr class="seperator">
            <div class="box">
                <div id="top_5">
                    {% for data in spice %}
                    <a id="post" href="{% url 'Sauce' data.post.id %}">
                        <div>
                            <img src="{{ data.post.image.url }}" alt="">
                        </div>
                        <div>
                            <span class="fas fa-solid">{{ data.post.product }}</span>
                        </div>
                
                        {{data.post.brand}}
                
                        <div class="spice">
                            {% for spice in data.spice %}
                            <i class="fas fa-pepper-hot"></i>
                            {% endfor %}
                            <p>{{data.post.rating.count}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <img class="elmo" src="{% static 'images/elmo-fire.gif' %}" alt="Logo.png">

            </div>
            
            
            <header>
                <h1>Best Flavor</h1>
            </header>
            <hr class="seperator">
            <div class="box">
                <div id="top_5">
                    {% for data in flavor %}
                    <a id="post" href="{% url 'Sauce' data.post.id %}">
                        <div>
                            <img src="{{ data.post.image.url }}" alt="">
                        </div>
                        <div>
                            <span class="fas fa-solid">{{ data.post.product }}</span>
                        </div>
                        {{data.post.brand}}
                
                        <div class="flavor">
                            {% for spice in data.flavor %}
                            <i class="fas fa-star checked"></i>
                            {% endfor %}
                            <p>{{data.post.rating.count}}</p>
                        </div>
                
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    </section>

{% endblock %}

{% block script %}
<link href="{% static 'pages/index.css' %}" rel="stylesheet">

{% endblock %}