#loader {
    border: 12px solid #9b5a5a;
    border-radius: 50%;
    border-top: 12px solid whitesmoke;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.filter{
    padding: 00px;
}

.selection-bar input{
    visibility:hidden;
    width: 0px;
}

.invalid{
    height: 80vh;
    width: 100%;

}
.invalid h2{
    color: rgba(0, 0, 0, 0.649);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.empty{
    opacity: 30%;
}

#explore-page{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
#explore-page section{
    width: fit-content;
}

@keyframes bar{
    0%{
        right: 70%;
        border-right: 2px solid rgb(85, 85, 85);
    }

    100%{
        right: 0;
        border-right: 2px solid transparent;
    }

}

.open-selection-bar{
    max-width: fit-content;
    padding-top: 20px;
    padding-inline: 10px;
    height: 100%;
    border-right: 2px solid rgb(85, 85, 85);
    background-color: transparent;
    justify-content: center;
}
.selection-bar{
    max-width: fit-content;
    padding-top: 20px;
    padding-inline: 10px;
    height: 100%;
    border-right: 2px solid transparent;
    background-color: transparent;
    justify-content: center;

    position: relative;
    animation:bar 200ms linear 1 forwards;
}

.selection-bar div{
    display: grid;
    grid-template-columns: auto auto;
    height: fit-content;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.fa-xmark{
    background-color: transparent;
    border: none;
    height: fit-content;
    margin: auto;
}

.open-selection-bar button{
    background-color:transparent;
    font-size: 15px;
    padding-inline: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.selection-bar h5{
    color: black;
    margin: auto;
    font-family: monospace ;
    text-align: center;
    padding-block: 5px;
    width: 100%;
    font-size: 14px;
}

.selection-bar .filter{
    margin-top: 20px;
    font-size: 14px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.622);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.selection-bar .filter p{
    display: inline;
    font-size: 13px;
}

.selection-bar .fa-star{
    color: rgb(166, 108, 0);
}

.selection-bar .fa-pepper-hot{
    color:rgb(172, 63, 63);
}

.selection, .selection-bar .checked{
    display: inline-block;
    justify-content: center;
    height: fit-content;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 2px;
}
.selected{
    display: inline-block;
    justify-content: center;
    height: fit-content;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.142);
    margin-bottom: 2px;
}

.selection label, .selected label{
    padding-bottom: 4px;
    margin: auto;
    padding-right: 5px;
}

.selection:hover{
    background-color: rgba(0, 0, 0, 0.082);
}

.selection-bar .filter-btn,.selection-bar .filter-submit{
    border-radius: 5px;
    border: 2px solid transparent;
    color: black;
    margin: auto;
    font-size: 12px;
    background-color: rgb(247, 247, 247);
}
.selection-bar .filter-submit{
    width:100px;
}
.selection-bar .filter-btn:hover, .selection-bar .filter-submit:hover{
    background-color: rgb(255, 255, 255);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.box{
    display: flex;
    align-items: top;
    justify-content: center;
    margin: auto;
    min-height: 84.7vh;
}

.body{
    background-color: whitesmoke;
}

#posts{
    display: flex;
    margin: 30px;
    gap: 40px;
    justify-content: center;
    padding-inline: 50px;
    min-height: 800px;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    padding-bottom: 60px;
    border-radius: 10px;
    padding-block: 20px;
    overflow: scroll;
}

#post{
    text-decoration: none;
    text-align: center;
    width: fit-content;
    height: fit-content;
    min-width: 200px;
    padding-block: 20px;
    padding-inline: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#post span{
    max-width: 300px;
}

#post p{
    display: inline;
    color: black;
}

#post .fa-pepper-hot{
    color:rgb(172, 63, 63);
}

span.fa-solid {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    color: rgb(22, 22, 22);
}

.flavor .checked {
    color: rgb(166, 108, 0);
}
.flavor {
    color: rgba(0, 0, 0, 0.325);
}
.spice #out{
    color:rgba(43, 13, 13, 0.343);
}

.seperator{
    width: 94%;
}
#post{
    text-decoration: none;
    color: black;
    border: 3px solid transparent;
}

.next-btn, .previous-btn{
    /* background-image: linear-gradient(to top, rgb(181, 95, 95), rgb(181, 95, 95)); */
    background-color: rgb(181, 95, 95);
    border: 2px solid transparent;
    border-radius: 5px;
    border-bottom: solid transparent;
    color: white;
    margin: 10px;
}

.next-btn:hover, .previous-btn:hover{
    transition: 300ms;
    /* background-image: linear-gradient(to top, rgb(181, 95, 95),1%, white); */
    background-color: transparent;
    border-bottom-width: 100px;
    border-bottom:solid rgb(181, 95, 95);
    color: rgb(181, 95, 95);
    margin: 10px;
}

#page-controls{
    width: fit-content;
    align-items: center;
    margin: auto;
}

@keyframes present{
    0%{
        border: 3px solid rgba(147, 35, 35, 0.478);
    }
    50%{
        border: 3px solid rgba(147, 35, 35, 0.759);
     }
    100%{
        border: 3px solid rgba(147, 35, 35, 0.478);

    }
}

#post:hover{
    animation:present 1s linear infinite forwards;
    position: relative;
    border: 3px solid rgba(147, 35, 35, 0.759);

}

#post:hover img{
    transform:scale(1.05);
}

.prod_img {
    margin: auto;
    overflow: visible;
    height: 3.5in;
    width: 100%;
    max-width: 2in;
    margin-bottom: 10px;
}

#post img {
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit:cover;
}