#post img {
    object-fit: cover;
    height: 3.3in;
    width: 1.5in;
    padding-bottom: 20px;
    border-radius: 6px;
    background-color: white;
}
#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.box{
    display: flex;
    align-items: top;
    justify-content: center;
    margin: auto;
    min-height: 84.7vh;
}

.body{
    background-color: whitesmoke;
}

#posts{
    display: flex;
    margin: 30px;
    gap: 40px;
    justify-content: center;
    padding-inline: 50px;
    min-height: 800px;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    padding-bottom: 60px;
    border-radius: 10px;
    padding-block: 20px;
    overflow: scroll;
}

#post{
    text-decoration: none;
    text-align: center;
    width: fit-content;
    height: fit-content;
    min-width: 200px;
    padding-block: 20px;
    padding-inline: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#post span{
    max-width: 300px;
}

#post p{
    display: inline;
    color: black;
}

#post .fa-pepper-hot{
    color:rgb(172, 63, 63);
}

span.fa-solid {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    color: rgb(22, 22, 22);
}

.flavor .checked {
    color: rgb(166, 108, 0);
}
.flavor {
    color: rgba(0, 0, 0, 0.325);
}
.spice #out{
    color:rgba(43, 13, 13, 0.343);
}

.seperator{
    width: 94%;
}
#post{
    text-decoration: none;
    color: black;
}

.next-btn, .previous-btn{
    /* background-image: linear-gradient(to top, rgb(181, 95, 95), rgb(181, 95, 95)); */
    background-color: rgb(181, 95, 95);
    border: 2px solid transparent;
    border-radius: 5px;
    border-bottom: solid transparent;
    color: white;
    margin: 10px;
}

.next-btn:hover, .previous-btn:hover{
    transition: 300ms;
    /* background-image: linear-gradient(to top, rgb(181, 95, 95),1%, white); */
    background-color: transparent;
    border-bottom-width: 100px;
    border-bottom:solid rgb(181, 95, 95);
    color: rgb(181, 95, 95);
    margin: 10px;
}

#page-controls{
    width: fit-content;
    align-items: center;
    margin: auto;
}

#post:hover{
    background-color: rgba(0, 0, 0, 0.014);
    border: 2px solid white;
    box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.622);
}