footer{
    position:static;
    bottom: 0px;
    width: 100%;
    background-color: rgb(218, 218, 218);
    padding: 15px;
    height: fit-content;
}
a{
    text-decoration: none;
}

footer p{
    color: rgb(48, 48, 48);
}

.list-inline-item a{
    color: rgb(48, 48, 48);
}

form{
    height: fit-content;
}

form .searchBar{
    display: grid;
    margin-left: 20px;
    padding:2px ;
    padding-inline: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    grid-template-columns: auto auto auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.233);
    width: fit-content;
    height: fit-content;
}
form .searchInput::placeholder{
    color: rgb(250, 231, 231);
}
form .searchInput:focus{
    outline: none;
}

form .searchBar:focus-within{
    background-color: rgba(245, 245, 245, 0.119);
    color: rgb(241, 241, 241);
    outline:auto;
}

form .searchInput{
    color: white;
    background-color: transparent;
    border: transparent;
    font-size: 14px;
    width: 300px;
}
.searchBar i{
    color: rgba(255, 255, 255, 0.888);
    font-size: 15px;
    margin-right: 7px;
    padding-block: 3px;
}

.nav{
    display:grid;
    background-color:#913333;
    align-items: center;
    padding: 10px;
    grid-column-gap: 20px;
    grid-template-rows:1fr;
    grid-template-columns: auto auto auto  1fr;
    grid-template-areas: "a b c d e f g";
    justify-content:left;
}

.logo{
    height: 40px;
    border-radius: 10px;
}

.login-status{
    display: flex;
    grid-area: f;
    margin-right: -12px;
    margin-top: 3px;
}

#light-nav{
    display: inline;
    font-size: 0;
}

#light-nav a, #light-add-nav a{
    text-decoration: none;
    color: rgb(236, 236, 236); 
    display:inline-block;
    text-align:center;
    font: normal 16px Arial;
    font-weight: bold;
}
#light-add-nav a{
    padding: auto;
    padding-inline: 10px;
    border-radius: 100%;
}
#light-add-nav a:hover{
    transform: rotate(180deg);
    transition: 300ms;
    background-color: white;
    color: #913333;
}

.nav .title{
    display: flex;
}

@keyframes glow{
    0%{
        color: #913333;
    }
    50%{
        color: #91333383;
    }
    100%{
        color: #913333;
    }
}
.nav .title p{
    animation-name: glow;
    position: relative;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    color: #913333;
    font-weight: bold;
    background-color: white;
    font-size:11px ;
    height: fit-content;
    padding: 3px;
    border-radius: 6px;
}

#light-nav a:hover{
    transition: 300ms;
    border-radius: 3px;
    color: #913333;
    background-color: rgba(255, 255, 255, 0.806);
}

#light-nav a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#dark-nav a{
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 219, 219);
}

.fa-user{
    color: whitesmoke;
    font-size: 18px;
}